<!-- _includes/head.html -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title | default: "黒本ルーレット" }}</title>

<!-- アクセス解析 -->
<script data-goatcounter="https://coda.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5ZH5SRGQL0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-5ZH5SRGQL0');
</script>

<link rel="stylesheet" href="/_includes/main.css">
